/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.aboutcont {
  position: absolute;
  width: 80vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilo {
  position: relative;
  width: auto;
  height: 600px;
  border-radius: 10px
}

.txt {
  position: relative;
  top: 30%;
  left: -5%;
  font-size: 3.1vh;
  color: white;
  font-family: Arial;
  width: 60%;
  text-align: justify;
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, .3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.closeabout {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.closeabout:before, .closeabout:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: brown;
}

.closeabout:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.closeabout:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 1921px) {

}


@media screen and (max-width: 800px) {

  .aboutcont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }

  .profilo {
    top: 0;
    height: 300px;
    width: auto;
    margin-bottom: 30px;
  }

  .txt {
    top: 0;
    left: 0;
    font-size: 2.5vh;
    width: 100%;
  }

}
