.wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: absolute;
  height: auto;
  width: auto;
  top: 30%;
}


.name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 40vw;
  height: 18vh;
  cursor: default;
  transition: color .3s;
  border-bottom: 1px solid brown;
  padding: 5px;
}

.first {
  letter-spacing: 15px;
  font-size: 10vh;
  font-family: 'Six Caps', sans-serif;
  color: white;
  transition: .5s ease;
  text-shadow: 3px 3px black;
}

.second {
  letter-spacing: 15px;
  font-size: 15vh;
  height: 18.633540372670808vh;
  font-family: 'Six Caps', sans-serif;
  color: brown;
  text-shadow: 3px 3px black;
}

.copy {
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
}

.divide0 {
  height: 1px;
  background: brown;
  position: relative;
  top: 120px;
}

.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.About,
.Works,
.Contact {
  font-size: 5.7vh;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  color: white;
  transition: color .5s;
}

.divide {
  border-right: 1px solid Brown;
}

.About::first-letter {
  color: brown;
  text-shadow: 2px 2px black;
}

.Works::first-letter {
  color: brown;
  text-shadow: 2px 2px black;
}

.Contact::first-letter {
  color: brown;
  text-shadow: 2px 2px black;
}

.About:hover,
.Works:hover,
.Contact:hover {
  color: brown;
  text-shadow: 2px 2px black;
}

.links {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  margin-top: 100px;
}

.mail {
  text-decoration: none;
  color: white;
  text-decoration: underline brown;
  margin-bottom: 20px;
}

.insta {
  width: 30px;
  height: auto;
  color: brown;
}

.imdb {
  width: auto;
  height: 30px;
  color: brown;
  margin-bottom: 20px;
}

.links > img:only-child {    /*eliminate extra space at the bottom*/
  display: block;
}

@media screen and (min-width: 1921px) {
  .name {
    width: 45vw;
    }
}

@media screen and (max-width: 1024px) {

  .main {
    top: 10%;
  }

  .name {
    width: 100vw;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .first {
    height: 8vh;
  }

  .second {
    color: brown;
    text-shadow: 3px 2px black;
  }

  .bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
  }

  .links {
    margin-top: 50px;
    font-size: 3vh;
  }

}
