.cont {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(20px);
}

.trailer {
  width: 80vw;
  height: 80vh;
}

.closetrailer {
  position: absolute;
  right: 8%;
  top: 4%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.closetrailer:before, .closetrailer:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: brown;
}

.closetrailer:before {
  transform: rotate(45deg);
}

.closetrailer:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {

  .trailer {
    width: 80vw;
    height: 70vh;
  }

}
