.wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: absolute;
  height: auto;
  width: auto;
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10.35vh;
  height: auto;
  width: auto;
  cursor: default;
  transition: color .3s;
  border-bottom: 1px solid brown;
  padding: 5px;
}

.first {
  font-family: 'Raleway', sans-serif;
  color: white;
  transition: .5s ease;
  text-shadow: 3px 3px black;
}

.second {
  font-family: 'Major Mono Display', monospace;
  color: brown;
  text-shadow: 3px 3px black;
}

.divide0 {
  height: 1px;
  background: brown;
  position: relative;
  top: 120px;
}

.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.About,
.Works,
.Contact {
  font-size: 5.7vh;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  color: white;
  transition: color .5s;
}

.divide {
  border-right: 1px solid Brown;
}

.About::first-letter {
  color: brown;
  text-shadow: 2px 2px black;
}

.Works::first-letter {
  color: brown;
  text-shadow: 2px 2px black;
}

.Contact::first-letter {
  color: brown;
  text-shadow: 2px 2px black;
}

.About:hover,
.Works:hover,
.Contact:hover {
  color: brown;
  text-shadow: 2px 2px black;
}

@media screen and (max-width: 1024px) {

  .name {
    font-size: 9vh;
  }

  .second {
    font-family: 'Major Mono Display', monospace;
    color: brown;
    text-shadow: 3px 2px black;
  }

  .bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
  }

}
